streamlit
langchain
langchain-community
langchain-chroma
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
python-dotenv
unstructured[all-docs]
pytesseract
Pillow
hf_xet
