streamlit
langchain
langchain-community
langchain-chroma
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
python-dotenv
unstructured[all-docs]
pytesseract
Pillow
hf_xet
fastapi
uvicorn[standard]
python-multipart
pydantic
requests
pycparser==2.21
